{{ .SvgImage }}

<script>

function handleLocation(position) {
    // capture latitude and longtitude... pass back to backend
}

const locationOptions = {
  enableHighAccuracy: true,
  timeout: 1500,
  maximumAge: 0,
};

function locationSuccess(position) {
    handleGeolocationData(position.coords.latitude,position.coords.longitude);
}

function locationError(err) {
  console.warn(`ERROR(${err.code}): ${err.message}`);
}

function handleLocation() {
    navigator.geolocation.getCurrentPosition(locationSuccess, locationError, locationOptions);
    setTimeout(handleLocation, 2000)
}

function initialize() {
    // Try HTML5 geolocation
    if(navigator.geolocation) {
        handleLocation()
    } else {
        // Browser doesn't support Geolocation
        handleNoGeolocation(false);
    }
}

function handleGeolocationData(latitude, longitude){
    const screenQuery = "/"+screen.width+"/"+screen.height;
    const fullQuery = "/map/"+latitude+"/"+longitude+screenQuery;
    $.ajax({
        url: fullQuery, 
        type: "get",
        success: handleNewMap,
    });
}

function handleNewMap(data, status) {
    if (status !== "success") {
        return;
    }

    const currentSvg = document.querySelector("svg");
    const newSvg = document.createElement("svg");
    newSvg.innerHTML = data;
    currentSvg.parentNode.replaceChild(newSvg, currentSvg);
}

// TODO: I don't think this func actually does anything
function handleNoGeolocation(errorFlag) {
    if (errorFlag) {
        var content = 'Error: The Geolocation service failed.';
    } else {
        var content = 'Error: Your browser doesn\'t support geolocation.';
    }
}

document.addEventListener('DOMContentLoaded', initialize);

</script>
